@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');


body { 
    background: url('sakk-hatter.png'); 
    background-size: 300px; 

} 


h1 { 
    font-family: 'Cinzel Decorative', cursive!important; 
    font-size: 96px!important; 
    text-align: center; 
} 

.fk {
    font-weight: bold;
}

.feher {
    color: white;
    background-color: black;
}

.fekete {
    color: black;
    background-color: white;
}

.alakzat { 
    font-size: 6em; 
    text-align: center; 
    margin: 0; 
} 

.kepalairas { 
    font-style: italic; 
    font-size: 12px; 
    text-align: center; 
    border: 1px solid black; 
    border-radius: 6px; 
} 